In [12]:
import numpy as np
import pandas as pd

import algo

from algo import *

In [13]:
'''
def convert_to_df (fname):
    block = None
    src_data = {'addr': [], 'time': [], 'amt': [], 'spent': []}
    dest_data = {'addr': [], 'time': [], 'amt': []}
    txn_data = {'src': [], 'dest': [], 'time': [], 'amt': []}
    with open (fname) as data_file:
        block = json.load (data_file)
    #import pdb; pdb.set_trace ()
    for blk in block ['blocks']:
        for txn in blk ['tx']:
            txn_time = datetime.fromtimestamp (txn ['time'])
            for txn_src in txn ['inputs']:
                src_data ['time'].append (txn_time)
                addr = None
                if 'addr' in txn_src:
                    addr = txn_src ['addr']
                src_data ['addr'].append (addr)
                amt = -1
                spent = None
                if 'value' in txn_src:
                    amt = txn_src ['value']
                src_data ['amt'].append (amt)
                if 'spent' in txn_src:
                    spent = txn_src ['spent']
                src_data ['spent'] = spent
            for txn_src in txn ['out']:
                dest_data ['time'].append (txn_time)
                addr = None
                if 'addr' in txn_src:
                    addr = txn_src ['addr']
                dest_data ['addr'].append (addr)
                amt = -1
                spent = None
                if 'value' in txn_src:
                    amt = txn_src ['value']
                dest_data ['amt'].append (amt)
                if 'spent' in txn_src:
                    spent = txn_src ['spent']
                dest_data ['spent'] = spent

    return src_data, dest_data
'''

"\ndef convert_to_df (fname):\n    block = None\n    src_data = {'addr': [], 'time': [], 'amt': [], 'spent': []}\n    dest_data = {'addr': [], 'time': [], 'amt': []}\n    txn_data = {'src': [], 'dest': [], 'time': [], 'amt': []}\n    with open (fname) as data_file:\n        block = json.load (data_file)\n    #import pdb; pdb.set_trace ()\n    for blk in block ['blocks']:\n        for txn in blk ['tx']:\n            txn_time = datetime.fromtimestamp (txn ['time'])\n            for txn_src in txn ['inputs']:\n                src_data ['time'].append (txn_time)\n                addr = None\n                if 'addr' in txn_src:\n                    addr = txn_src ['addr']\n                src_data ['addr'].append (addr)\n                amt = -1\n                spent = None\n                if 'value' in txn_src:\n                    amt = txn_src ['value']\n                src_data ['amt'].append (amt)\n                if 'spent' in txn_src:\n                    spent = txn_src ['spent']\n                src_data ['spent'] = spent\n            for txn_src in txn ['out']:\n                dest_data ['time'].append (txn_time)\n                addr = None\n                if 'addr' in txn_src:\n                    addr = txn_src ['addr']\n                dest_data ['addr'].append (addr)\n                amt = -1\n                spent = None\n                if 'value' in txn_src:\n                    amt = txn_src ['value']\n                dest_data ['amt'].append (amt)\n                if 'spent' in txn_src:\n                    spent = txn_src ['spent']\n                dest_data ['spent'] = spent\n\n    return src_data, dest_data\n"

In [14]:
def convert_to_df (fname):
    block = None
    new_acy = {'addr': [], 'time': [], 'amt': [], 'spent': [], 'seller': []} 
    wallet_to_wallet = {'addr': [], 'time': [], 'amt': [], 'spent': [], 'seller': []} 

    with open (fname) as data_file:
        block = json.load (data_file)

    for blk in block ['blocks']:
        for txn in blk ['tx']:
            txn_time = datetime.fromtimestamp (txn ['time'])
            if 'prev_out' in txn ['inputs'] [0]:
                for src_txn in txn ['inputs']:
                    if 'addr' not in src_txn ['prev_out']:
                        continue
                    wallet_to_wallet ['time'].append (txn_time)
                    wallet_to_wallet ['amt'].append (src_txn ['prev_out'] ['value'])
                    wallet_to_wallet ['seller'].append (True)
                    wallet_to_wallet ['spent'].append (src_txn ['prev_out'] ['spent'])
                    wallet_to_wallet ['addr'].append (src_txn ['prev_out'] ['addr'])
                for dest_txn in txn ['out']:
                    if 'addr' not in dest_txn:
                        continue
                    wallet_to_wallet ['time'].append (txn_time)
                    wallet_to_wallet ['amt'].append (dest_txn ['value'])
                    wallet_to_wallet ['seller'].append (False)
                    wallet_to_wallet ['spent'].append (dest_txn ['spent'])
                    wallet_to_wallet ['addr'].append (dest_txn ['addr'])
            else:
                for dest_txn in txn ['out']:
                    if 'addr' not in dest_txn:
                        continue
                    new_acy ['time'].append (txn_time)
                    new_acy ['amt'].append (dest_txn ['value'])
                    new_acy ['seller'].append (False)
                    new_acy ['spent'].append (dest_txn ['spent'])
                    new_acy ['addr'].append (dest_txn ['addr'])
                        
    return new_acy, wallet_to_wallet

In [20]:
BLOCK_START=493900
BLOCK_END=493938
#let i=BLOCK_START
new_acy_df_list = []
w2w_df_list = []
for i in range (BLOCK_START, BLOCK_END + 1):
    new_acy, wallet_to_wallet = convert_to_df ('auto/' + str (i) + '.json')
    new_acy_df = pd.DataFrame.from_dict (new_acy)
    wallet_to_wallet_df = pd.DataFrame.from_dict (wallet_to_wallet)
    new_acy_df_list.append (new_acy_df)
    w2w_df_list.append (wallet_to_wallet_df)
    
new_acy_df = pd.concat (new_acy_df_list)
w2w_df = pd.concat (w2w_df_list)

In [22]:
new_acy_df.describe ()

                amt
count  4.000000e+01
mean   1.500240e+09
std    2.464714e+08
min    1.492544e+07
25%    1.494240e+09
50%    1.543795e+09
75%    1.573085e+09
max    1.634234e+09

In [37]:
sum_w2w_df = w2w_df.groupby (['addr', 'seller'])['amt'].sum ()
sum_w2w_df.columns = ['addr', 'seller', 'amt']

In [38]:
sum_w2w_df.head(5)

addr                                seller
1111111111111111111114oLvT2         False        6837500
111feg2jZbDFahdSMx2PBxyDo3NCztShN   False        7998186
11219GwLWE98Dj6rhegyWja9b1GmCt5HVD  False     1240668614
                                    True      1240668614
1121JizV8XCRWGUKuL4VtYdfBKnCfrVEEs  False        1720315
Name: amt, dtype: int64

In [32]:
w2w_df.groupby (['addr', 'seller'])['amt'].sum().sort_values(['amt'], ascending=[False])

TypeError: unhashable type: 'list'

In [24]:
w2w_df ['amt'].describe ()

count    4.400120e+05
mean     3.486912e+08
std      4.519053e+09
min      1.000000e+00
25%      8.821015e+05
50%      2.827448e+06
75%      2.353146e+07
max      8.000000e+11
Name: amt, dtype: float64

In [27]:
w2w_df [w2w_df ['amt'] >= 100e08]

,addr,amt,seller,spent,time
278,16aUgBGarBaf9XHHsXWmZf8vHjtmxdrjb9,60073486334,True,True,2017-11-10 11:16:46
378,1Kr6QSydW9bFQG1mXiPNNu6WpJGmUa9i1g,70312329620,False,True,2017-11-10 11:16:46
635,1N52wHoVR79PMDishab2XmRHsbekCdGquK,12193157886,True,True,2017-11-10 11:17:01
1293,1N52wHoVR79PMDishab2XmRHsbekCdGquK,11650016259,True,True,2017-11-10 11:08:38
2417,1P71EwTAj2BUuCtGGoRReznXcPsxubzGW5,14886971418,True,True,2017-11-10 11:05:02
2419,334CueWbNNcCbdT83EVyE74W8z785TkDgN,14896867448,False,False,2017-11-10 11:05:02
2475,1N52wHoVR79PMDishab2XmRHsbekCdGquK,13711456967,True,True,2017-11-10 11:08:47
2490,1DEcTtkrbdXxS1wbrMvzub5X4VpByYmAwo,11497400000,False,True,2017-11-10 11:08:47
2624,1AghwKpz1baVQ57zxcns7gcusrVo7XsYtK,37727334471,True,True,2017-11-10 11:11:52
2626,1DcqXtUPx4kQU2qHnPQN7Y3NLn93xExiPX,36205267271,False,True,2017-11-10 11:11:52
2630,1nwBqNhXFbAAGgGo2AkzUQCExLPHRavKX,23772316850,True,True,2017-11-10 11:10:20
2631,1BULu7c9okCgGnFk5w6C7n8bDDWtnt5Vu2,23771242911,False,True,2017-11-10 11:10:20
2633,1PqiviSWK1YJn2xAVfiHPsTwnBYS7Xcg1t,41972805818,True,True,2017-11-10 11:12:35
2634,1M98xQSDkxNpyxKJuj5MNgPChH8wTRedm3,41962798618,False,True,2017-11-10 11:12:35
2636,16YM2AwmkE5VcH8AsU69QnWNMwc7po4a7b,41813711955,True,True,2017-11-10 11:12:21
2637,1BqyfvE5VHaxLbm8XCZ2R8FWQ6WsuYJTV8,41801544755,False,True,2017-11-10 11:12:21
2642,13dHpXHKMwwbh4x8H2s6ygegefFRep23PW,18299784924,True,True,2017-11-10 11:09:09
2644,1AzD1jgkK11y7Dky81NbGa7M88jjcLjRPK,13299717724,False,True,2017-11-10 11:09:09
2651,1BULu7c9okCgGnFk5w6C7n8bDDWtnt5Vu2,23771242911,True,True,2017-11-10 11:18:19
2652,1HLxWCJAmzGWrUzBzRaTnq2E43vGgcKmXb,23736551453,False,True,2017-11-10 11:18:19
2657,1CWXyGoCNnFKZWMjFaXEm4wLtGfGVkLxeF,21304489060,True,True,2017-11-10 11:09:38
2659,16V6WVob5Jkpc4f6ZK4mXRe8EqeVDxwA4D,21299229024,False,True,2017-11-10 11:09:38
2660,16V6WVob5Jkpc4f6ZK4mXRe8EqeVDxwA4D,21299229024,True,True,2017-11-10 11:18:05
2662,1MyNB1AWZ9qWEHcY8qyuPys5foM17KcSqu,21153963905,False,True,2017-11-10 11:18:05
2663,1H6qLy6DXS7c2E8VjtVoX3tJXKW5n66342,17837167370,True,True,2017-11-10 11:08:32
2665,19a4yenssvGK1Tm8QkdMF8d6cCHhD155iN,17827099570,False,True,2017-11-10 11:08:32
2686,19a4yenssvGK1Tm8QkdMF8d6cCHhD155iN,17827099570,True,True,2017-11-10 11:17:14
2688,15hS5osq7C9xGFBEcv8U9VcdqrBknkEaDw,17823551655,False,True,2017-11-10 11:17:14
2692,1HkXEA64PDDDasq1tpr6pMsVcc8MBDaKEb,37171839933,True,True,2017-11-10 11:11:10
2694,18JTFfQtmzdBwFTocjK9tY2qFuXnZBRprk,35184772133,False,True,2017-11-10 11:11:10
...,...,...,...,...,...
7040,14E8GqHtVYUsaddF9g8KxFfFNHEdCpRTUX,14923600000,True,True,2017-11-10 19:00:52
7044,1C17UzQd7T8Ekg1KM7waRJFDCJjuzAniNR,10000000000,True,True,2017-11-10 18:53:13
7048,12JuyzrPZ9SMDv3cL8U9LANxES4Bt9oZ82,10000000000,True,True,2017-11-10 18:51:27
7062,14E8GqHtVYUsaddF9g8KxFfFNHEdCpRTUX,14177700000,True,True,2017-11-10 18:59:41
7066,1CXD5REkEFzt7e2wepMC8QeBVKQ9VMg51Z,13000000000,True,True,2017-11-10 18:59:27
7078,14E8GqHtVYUsaddF9g8KxFfFNHEdCpRTUX,10654700000,True,True,2017-11-10 18:56:49
7082,12JuyzrPZ9SMDv3cL8U9LANxES4Bt9oZ82,10000000000,True,True,2017-11-10 18:51:01
7090,17a2QLuFoy35FqDnobuKq9mTAZy311seU5,26600000000,True,True,2017-11-10 18:46:32
7091,1KZ9toA15aYkJonazN8aJXN3sULkgfh3Yn,15000000000,False,False,2017-11-10 18:46:32
7094,12wnbweyToWtVbmoM2Yx7mTc857MsBnUHv,10000000000,True,True,2017-11-10 18:53:20
7098,1BqdaP95sDRMvXeFkrNXeVpgqFw5KdB1zQ,10000000000,True,True,2017-11-10 18:54:36
7106,1NHXQt3gBbn9QKs42QV1pMqXLNEFbqsvfG,10589408336,True,True,2017-11-10 18:56:17
7114,1BqdaP95sDRMvXeFkrNXeVpgqFw5KdB1zQ,10000000000,True,True,2017-11-10 18:50:43
7124,1H7Qct73WRmXgEhztb3gqMRCny6xMwZQzF,17194768904,True,True,2017-11-10 18:20:49
7125,1MpXpKQafqgk1WdooLnJzYCkqzjejzKz2j,17193291728,False,False,2017-11-10 18:20:49
7139,1C17UzQd7T8Ekg1KM7waRJFDCJjuzAniNR,10000000000,True,True,2017-11-10 18:50:48
8509,17H2PqMRJwpwkEoUxHARXyrKkJoc4Khuu1,11290437774,True,True,2017-11-10 18:16:52
8511,1UtXxJbxTriC6XvMS2fCd9XCz2MeNLqRP,11040366784,False,False,2017-11-10 18:16:52
9543,3Et8GvhfPp6YjezMfbXuTViUVzhZVGoZoQ,31879029435,True,True,2017-11-10 18:22:02
9545,3BEh66btEtg81BKa3umffR6uXuY9DsusGr,31877381704,False,False,2017-11-10 18:22:02
9573,3Qj9YJwv9nx3YrM7CWLVwPZVpi8Gsd5jEe,22498949796,True,True,2017-11-10 18:55:17
9574,1NPJoigMGTuXe661uTtYCPkJ5goMsQEpad,22355573117,False,False,2017-11-10 18:55:17
9648,1F9u192mBWdk21gFjTCefcjjyV2m1ReeJC,31742014010,True,True,2017-11-10 18:16:44
9649,1KyYnE4YJQhCzBh4i1NuVsmGjSxhYQWp28,31190463157,False,False,2017-11-10 18:16:44
9657,1QDmzw75cnAet4cnNq17DKVQtxrxRCNNUe,20075337206,True,True,2017-11-10 19:01:40
9658,17xBgz2CrqHh4Xk7kZvspEcb6Koh9NNT6Z,19075266358,False,False,2017-11-10 19:01:40
10362,17Y6ifjrvJiRNkSkHfNtHg8RdXGpd44zrw,32770945923,True,True,2017-11-10 18:56:22
10363,1JSeE6Lpoo3Ztz3Po9MRg77SyAreBY69Ng,30922835065,False,False,2017-11-10 18:56:22
10717,1Dhe8oxAaYPGzFesRo3NEzhJ8Eyyb5wHYF,10770224264,True,True,2017-11-10 18:22:55
10911,15F2rDw5MqMyEWmxms8DupU9U6Fzbi54hk,10000100000,False,False,2017-11-10 18:40:28

In [15]:
src_data, dest_data = convert_to_df ('auto/493938.json')

In [16]:
len (dest_data)

5

In [17]:
src_df = pd.DataFrame.from_dict (src_data)
dest_df = pd.DataFrame.from_dict (dest_data)

In [18]:
dest_df.tail(5)

,addr,amt,seller,spent,time
11248,14muzriNtCfaXf3j45QxNh1mjbekBcJP9p,824880,False,True,2017-11-10 18:17:21
11249,3EYyfuqH7zMPUJYymbNsLjYBG2pxGjgjDe,27626030,False,False,2017-11-10 18:17:21
11250,188PNGCCJ6hWtzhMyScHiZu34aK3JVDLaG,1065834,True,True,2017-11-10 18:31:32
11251,38GjZ5qgYDqxY8y53n2EezyunhHNyVazrm,685979,False,False,2017-11-10 18:31:32
11252,16UpQvMTfNGP4v9QB34tNQQCTtQt3pF2Ut,310191,False,False,2017-11-10 18:31:32

In [ ]:
dest_data ['amt']