# ML 101: HW #1

<h4>Data Set Details:</h4>
<b>
* Predict whether income exceeds $50K/yr based on census data.
* Binary Classification Problem
* https://archive.ics.uci.edu/ml/datasets/Adult
</b>

In [2]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import OneHotEncoder

from numpy import random as rnd

rnd.seed (99)

## Loading and preprocessing data

#### 1. Load the data from census_data_train_clean.csv
<i> Hint: use read_csv() </i>
#### 2. Explore the data
<i>Hint: useful functions include read_csv(), head() and describe()</i>

In [4]:
#path = 'datasets/assignment1/'
#file = 'adult_data_1.csv'
path = ''
file = 'census_data_train_clean.csv'
census_data = pd.read_csv (path+file, sep='\s*,\s*', engine='python')
census_data.head (5)

,age,workclass,fnlwgt,education-num,marital-status,occupation,race,sex,capital-gain,capital-loss,hours-per-week,income
0,39,5,77516,13,4,0,4,1,2174,0,40,0
1,50,4,83311,13,2,3,4,1,0,0,13,0
2,38,2,215646,9,0,5,4,1,0,0,40,0
3,53,2,234721,7,2,5,2,1,0,0,40,0
4,28,2,338409,13,2,9,2,0,0,0,40,0

In [5]:
# sn: graphically explore the relationships of festures with the label
census_data.describe ()

,age,workclass,fnlwgt,education-num,marital-status,occupation,race,sex,capital-gain,capital-loss,hours-per-week,income
count,30718.000000,30718.000000,3.071800e+04,30718.000000,30718.000000,30718.000000,30718.000000,30718.000000,30718.000000,30718.000000,30718.000000,30718.000000
mean,38.443584,2.199720,1.898455e+05,10.130314,2.583143,5.967088,3.670161,0.676737,1106.037079,88.910216,40.949313,0.249040
std,13.118227,0.952936,1.054583e+05,2.562469,1.495674,4.025999,0.844063,0.467730,7497.863364,405.657203,11.985382,0.432464
min,17.000000,0.000000,1.376900e+04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,28.000000,2.000000,1.178285e+05,9.000000,2.000000,2.000000,4.000000,0.000000,0.000000,0.000000,40.000000,0.000000
50%,37.000000,2.000000,1.785170e+05,10.000000,2.000000,6.000000,4.000000,1.000000,0.000000,0.000000,40.000000,0.000000
75%,47.000000,2.000000,2.373170e+05,13.000000,4.000000,9.000000,4.000000,1.000000,0.000000,0.000000,45.000000,0.000000
max,90.000000,6.000000,1.484705e+06,16.000000,6.000000,13.000000,4.000000,1.000000,99999.000000,4356.000000,99.000000,1.000000

In [6]:
census_data.keys ()

Index(['age', 'workclass', 'fnlwgt', 'education-num', 'marital-status',
       'occupation', 'race', 'sex', 'capital-gain', 'capital-loss',
       'hours-per-week', 'income'],
      dtype='object')

#### 3. Preprocessing Data: Identify the categorical columns and create new columns with their one-hot encoding
<i> Hint: sklearn has a OneHotEncoder class </i>

In [41]:
list_workclass_values = ["Private", "Self-emp-not-inc", "Self-emp-inc", "Federal-gov", "Local-gov", 
                   "State-gov", "Without-pay", "Never-worked"]
set_workclass_values = set (list_workclass_values)
census_data_clean = census_data [pd.notnull (census_data ["workclass"]) and census_data ["workclass"] in set_workclass_values]
census_data_clean.describe ()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [39]:
import sys
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
workClassEnc = LabelEncoder ()
workClassEnc.fit (["Private", "Self-emp-not-inc", "Self-emp-inc", "Federal-gov", "Local-gov", 
                   "State-gov", "Without-pay", "Never-worked"])
educationEnc = LabelEncoder ()
enc = preprocessing.OneHotEncoder ()

census_data_clean ["workclass_code"] = workClassEnc.transform (census_data_clean ['workclass'])
#census_data ["education_code"] = educationEnc.fit_transform (census_data ['education'])
#census_data ["workclass_1h_code"] = enc.fit (census_data ["workclass_code"].reshape)
#cat_features = enc.fit (census_data ["workclass_code"].values.reshape (-1,1))
#workclass_feature.head (10)
#census_data ["workclass_1h_code"]
census_data_clean [["workclass", "workclass_code"]].head (10)
#census_data ["education-num"]

ValueError: y contains new labels: ['?']

#### 5. Split data into training, validation, test sets of the sizes: train_size=500, valid_size=5000, test_size=5000
<i> Hint: sklearn has a train_test_split function</i>

#### 6. Baseline Error Rate

In [6]:
pct_values = pd.Series(y_train).value_counts() / train_size
no_info_rate = pct_values.min()
## the data frame conversion is for the values to displayed nicely.
pd.DataFrame(pct_values, columns=['Income >= 50K'])

   Income >= 50K
0           0.75
1           0.25

* <h5>In case of no other information, best predictor will be to always predict 0!</h5>
* <h5>For this data, we will be correct 75% of the time!</h5>

#### 7. Normalization of Features: to save time, we have completed this step for you

In [7]:
## Need to normalize features for some models
scaler = StandardScaler()
## normalizing the training data. Centering and scaling.
X_train_norm = scaler.fit_transform(X_train)

## applying the same normalization to validation and test data
X_valid_norm = scaler.transform(X_valid)
X_test_norm = scaler.transform(X_test)

## Fitting a Simple Model - Logistic Regression

#### 1. Usesklearn's LogisticRegression class to train a model. Print out the error rate for the training and validation sets
<i> Hint: use score() function to get error rate</i>

#### 2. Explore the Effect of Regularization of Logistic Regression

a. L1 regularization: Vary the C term (the regularization parameter) and create a table showing the model coefficients generated by each C term. For what C term, is the validation error rate at a minimum?

b. L2 regularization: Vary the C term (the regularization parameter) and create a table showing the model coefficients generated by each C term. For what C term, is the validation error rate at a minimum?

c. What differences do you notice between the models generated using L1 regularization vs L2 regularization?

In [ ]:
# Use this range of regularization parameterse
Cs = np.array([1e-5, 0.0001, 0.001, 0.01, 0.1, 1.0, 10.0, 100.0, 1000.0, 10000.0])

## A Different Model: Random Forest Classifier
#### 1. Use the RandomForestClassifer to train a model. Print out the error rate for the training and validation sets. Play around with changing the different parameters (eg. max_depth) to see what impact it has on the error rate.

## Effect of Training Data size on the error rates

#### 1. Vary the size of the training data and then train a Logistic Regression Model. What effect does training size have on error rates?
#### 2. Vary the size of the training data and then train a Random Model. What effect does training size have on error rates?

In [27]:
## proportion of the training data to use
train_proportions = np.array([0.001, 0.005, 0.01, 0.025, 0.05, 0.075, 0.1, 0.25, 0.5, 0.75])