In [82]:
import copy
import datetime
import numpy as np
import os
import pandas as pd
import quandl

quandl.ApiConfig.api_key = "8DrzzNxwBzDzh_1jE6Dj"

y_hat_frbny = None

class Constant (object):
    TS = "time_series"
    DT = "data_table"
    DATA_DIR = "nowcast_inputs"
    OUTPUT_DIR = "nowcast_benchmarks"

QUANDL_DATA = {
    "WTI_DeptOfEnergy": {
        "refresh": False,
        "code": "EIA/PET_RWTC_D",
        "format": Constant.TS,
        "data": None
    },
    "AAPL_Zacks": {
        "refresh": False,
        "source": "ZACKS/FC",
        "ticker": "AAPL",
        "format": Constant.DT,
        "data": None
    },
    "SHORT_TERM_NAIRU_FedReserve": {
        "refresh": False,
        "code": "FRED/NROUST",
        "format": Constant.TS,
        "data": None
    },
    "CCY_AND_DEPOS_WorldBank": {
        "refresh": False,
        "code": "WPSD/USA_DP_DOD_DLCD_CR_GG_CD",
        "format": Constant.TS,
        "data": None
    },
    "CURR_ACC_BAL_WorldBank": {
        "refresh": False,
        "code": "WGEP/USA_BNCABFUNDCD_",
        "format": Constant.TS,
        "data": None
    },
    "UNEMPLOYMENT_FedReserve": {
        "refresh": False,
        "code": "FRED/M08K4BUSM148NNBR",
        "format": Constant.TS,
        "data": None
    },
    "BIZ_ACTIVITY_FedReserve": {
        "refresh": False,
        "code": "FRED/M12007USM511SNBR",
        "format": Constant.TS,
        "data": None
    },
    "20Y_YIELD_FedReserve": {
        "refresh": False,
        "code": "FRED/M13058USM156NNBR",
        "format": Constant.TS,
        "data": None
    },
    "NUM_INCORPORATIONS_FedReserve": {
        "refresh": False,
        "code": "FRED/M10090USM479NNBR",
        "format": Constant.TS,
        "data": None
    },
    "EMP_COMPENSATION_FedReserve": {
        "refresh": False,
        "code": "FRED/Q08358USQ027SNBR",
        "format": Constant.TS,
        "data": None
    },
    "FARM_INCOME_FedReserve": {
        "refresh": False,
        "code": "FRED/Q0876BUSQ027SNBR",
        "format": Constant.TS,
        "data": None
    },
    "PERSONAL_SAVING_FedReserve": {
        "refresh": False,
        "code": "FRED/Q1091BUSQ027SNBR",
        "format": Constant.TS,
        "data": None
    },
    ##
    "M1_FedReserve": {
        "refresh": False,
        "code": "FRED/MYAGM1USM052N",
        "format": Constant.TS,
        "data": None
    },
    "M2_FedReserve": {
        "refresh": False,
        "code": "FRED/MYAGM2USM052N",
        "format": Constant.TS,
        "data": None
    },
    "PREM_GAS_PX_FedReserve": {
        "refresh": False,
        "code": "FRED/GASPRMCOVM",
        "format": Constant.TS,
        "data": None
    },
    "PORTFOLIO_ASSETS_FedReserve": {
        "refresh": False,
        "code": "FRED/IEAAPIN",
        "format": Constant.TS,
        "data": None
    },
    "YLD_CURVE_FedReserve": {
        "refresh": False,
        "code": "FED/SVENPY",
        "format": Constant.TS,
        "data": None
    },
    "TECH_SPEND_FC_FedNY": {
        "refresh": False,
        "code": "FRBNY/TSFDINA",
        "format": Constant.TS,
        "data": None
    },
    "CAPEX_FC_FedNY": {
        "refresh": True,
        "code": "FRBNY/CEFDINA",
        "format": Constant.TS,
        "data": None
    },
    "EMPL_PVT_SVC_ADP": {
        "refresh": False,
        "code": "ADP/EMPL_SERVICE_PR",
        "format": Constant.TS,
        "data": None
    },
    "EMPL_NONFARM_ADP": {
        "refresh": False,
        "code": "ADP/EMPL_NONFARM_PRI",
        "format": Constant.TS,
        "data": None
    },
    "EMPL_GOODS_PROD_ADP": {
        "refresh": False,
        "code": "ADP/EMPL_GOODS_PROD",
        "format": Constant.TS,
        "data": None
    },
    "CAPEX_FC_FedNY": {
        "refresh": False,
        "code": "FRBNY/CEFDINA",
        "format": Constant.TS,
        "data": None
    },
    "QTRLY_GDP_PCT_CHG_Bea": {
        "refresh": False,
        "code": "BEA/NIPA_1_1_1_Q",
        "format": Constant.TS,
        "data": None
    }
}

In [83]:
def get_quandl_data ():
    for dc in QUANDL_DATA:
        if not QUANDL_DATA [dc]["refresh"]:
            continue
            
        ### sn: to get a numpy array, use the below. Don't worry about optimizing at this pt.
        ### quandl.get (QUANDL_DATA [dc] ["code"], returns = "numpy")
        
        if QUANDL_DATA [dc]["format"] == Constant.TS:
            QUANDL_DATA [dc] ["data"] = quandl.get (QUANDL_DATA [dc] ["code"])
            save_quandl_data_to_file (dc)
            #print (QUANDL_DATA [dc] ["data"])
        elif QUANDL_DATA [dc]["format"] == Constant.DT:
            QUANDL_DATA [dc] ["data"] = quandl.get_table (QUANDL_DATA [dc] ["source"], ticker=QUANDL_DATA [dc] ["ticker"])
            save_quandl_data_to_file (dc)
            #print (QUANDL_DATA [dc] ["data"])
        else:
            None

In [84]:
def save_quandl_data_to_file (dc):
    df = QUANDL_DATA [dc] ["data"]
    if isinstance (df, pd.DataFrame):
        file_name = Constant.DATA_DIR + "/" + dc + ".csv"
        print ("Saving dataframe to file " + file_name)
        df.to_csv (file_name, encoding='utf-8')

In [85]:
#if isinstance (QUANDL_DATA ["AAPL_Zacks"] ["data"], pd.DataFrame):
#    type (QUANDL_DATA ["AAPL_Zacks"] ["data"])

In [86]:
def load_data (refresh=False):
    global y_hat_frbny
    if refresh:
        get_quandl_data ()
    else:
        for dc in QUANDL_DATA:
            file_name = Constant.DATA_DIR + "/" + dc + ".csv"
            if os.path.isfile (file_name):
                QUANDL_DATA [dc] ["data"] = pd.read_csv (file_name)
          
    # sn: needs manual updates - nowcasts not avaialable in feed format
    y_hat_frbny = pd.read_csv (Constant.DATA_DIR + "/ny_fed.csv")

In [87]:
load_data (refresh=False)
#y_hat_frbny.tail (2)

In [88]:
nonfarm_df = QUANDL_DATA ["EMPL_NONFARM_ADP"] ["data"]
frbny_nowcast_df = y_hat_frbny
act_gdp_df = QUANDL_DATA ["QTRLY_GDP_PCT_CHG_Bea"] ["data"]
#act_gdp_df.tail (2)

In [89]:
#nonfarm_df ["Month"] [0]
#y_hat_frbny.tail (2)
nonfarm_df.tail(5)

,Month,1-19,20-49,1-49,50-499,500+,500-999,1000+
147,2017-04-30,31185.385497,20004.813552,51190.199050,44572.914511,28164.010312,8412.759968,19751.250344
148,2017-05-31,31232.189653,20020.458932,51252.648585,44683.298474,28224.666157,8444.816270,19779.849887
149,2017-06-30,31259.475306,20052.471538,51311.946844,44763.216890,28277.660309,8461.745058,19815.915251
150,2017-07-31,31284.442875,20076.487437,51360.930312,44847.879288,28345.226622,8485.091498,19860.135123
151,2017-08-31,31302.177864,20106.629514,51408.807378,44921.992017,28459.866774,8507.227306,19952.639468

In [102]:
def convert_yyyymmdd_str_to_qtr (dt_str):
    return dt_str [:4] + "Q" + str (int(np.floor((int (dt_str [5:7]) - 1)/3)) + 1)
    
def get_quarter_key (dt, qtr):
    if qtr*3 >= dt.month:
        return str (dt.year) + "Q" + str (qtr)
    else:
        return str (dt.year + 1) + "Q" + str (qtr)

def get_months_to_quarter (dt, qtr):
    if dt.month > qtr * 3:
        return (12 - dt.month + qtr*3 + 1)
    else:
        return (qtr*3 - dt.month + 1)

def mark_quarter (df, quarter):
    res_df = copy.deepcopy (df)
    #if quarter == 1:
    res_df ["TargetQuarter"] = res_df ['Date'].apply (get_quarter_key, args=(quarter,))
    res_df ["MonthsToTarget"] = res_df ['Date'].apply (get_months_to_quarter, args=(quarter,))
    return res_df
    
def featurize_monthly_absolute_figures (df, label_input_col, fmt="%Y-%m-%d"):
    df ["Date"] = df [label_input_col].apply (datetime.datetime.strptime, args=(fmt,))
    #x_df = pd.Dataframe
    #for i in range (1, 5):
    updated_df = mark_quarter (df, quarter=1)
    updated_df = updated_df.append (mark_quarter (df, quarter=2))
    updated_df = updated_df.append (mark_quarter (df, quarter=3))
    updated_df = updated_df.append (mark_quarter (df, quarter=4))
    return updated_df
    #df ["TargetPeriod"] = df [label_input_col]
    #df ["TargetPeriod"] = df [label_input_col].apply (convert_yyyymmdd_str_to_qtr)

In [103]:
updated_nonfarm_df = featurize_monthly_absolute_figures (nonfarm_df, "Month")
updated_nonfarm_df ['Total'] = updated_nonfarm_df ['1-49'] + updated_nonfarm_df ['50-499'] + updated_nonfarm_df ['500+']
#updated_nonfarm_df [['Date','TargetPeriod', 'MonthsToTarget', 'Total']].tail(50)
updated_nonfarm_df [updated_nonfarm_df['Month']=='2017-01-31']
#updated_nonfarm_df [['Month', 'MonthsToTarget']].tail (10)
#updated_nonfarm_df.shape
#nonfarm_df.shape
#type (nonfarm_df ['Date'][0])

,Month,1-19,20-49,1-49,50-499,500+,500-999,1000+,Date,TargetQuarter,MonthsToTarget,Total
144,2017-01-31,31057.993898,19878.039194,50936.033092,44284.823,28054.591742,8342.762328,19711.829414,2017-01-31,2017Q1,3,123275.447833
144,2017-01-31,31057.993898,19878.039194,50936.033092,44284.823,28054.591742,8342.762328,19711.829414,2017-01-31,2017Q2,6,123275.447833
144,2017-01-31,31057.993898,19878.039194,50936.033092,44284.823,28054.591742,8342.762328,19711.829414,2017-01-31,2017Q3,9,123275.447833
144,2017-01-31,31057.993898,19878.039194,50936.033092,44284.823,28054.591742,8342.762328,19711.829414,2017-01-31,2017Q4,12,123275.447833

In [106]:
updated_nonfarm_df [updated_nonfarm_df ['TargetQuarter'] == '2017Q2']

,Month,1-19,20-49,1-49,50-499,500+,500-999,1000+,Date,TargetQuarter,MonthsToTarget,Total
138,2016-07-31,30935.080038,19723.460718,50658.540756,43867.727689,27634.159054,8276.979113,19357.179941,2016-07-31,2017Q2,12,122160.427500
139,2016-08-31,30961.324340,19750.112916,50711.437256,43907.635990,27681.918454,8286.724026,19395.194428,2016-08-31,2017Q2,11,122300.991700
140,2016-09-30,30995.015065,19769.855426,50764.870490,43989.822838,27763.285472,8291.542198,19471.743273,2016-09-30,2017Q2,10,122517.978800
141,2016-10-31,30987.951877,19776.650323,50764.602199,44005.162254,27809.884647,8290.329664,19519.554983,2016-10-31,2017Q2,9,122579.649100
142,2016-11-30,31006.699399,19806.430013,50813.129411,44097.439918,27895.490470,8309.335533,19586.154937,2016-11-30,2017Q2,8,122806.059800
143,2016-12-31,31014.779590,19839.279667,50854.059257,44181.710194,27971.278749,8324.734737,19646.544012,2016-12-31,2017Q2,7,123007.048200
144,2017-01-31,31057.993898,19878.039194,50936.033092,44284.823000,28054.591742,8342.762328,19711.829414,2017-01-31,2017Q2,6,123275.447833
145,2017-02-28,31102.659821,19924.757580,51027.417401,44379.135357,28117.460521,8369.491088,19747.969433,2017-02-28,2017Q2,5,123524.013279
146,2017-03-31,31165.992255,19986.952416,51152.944670,44480.218760,28145.862943,8376.955597,19768.907346,2017-03-31,2017Q2,4,123779.026374
147,2017-04-30,31185.385497,20004.813552,51190.199050,44572.914511,28164.010312,8412.759968,19751.250344,2017-04-30,2017Q2,3,123927.123874
148,2017-05-31,31232.189653,20020.458932,51252.648585,44683.298474,28224.666157,8444.816270,19779.849887,2017-05-31,2017Q2,2,124160.613217
149,2017-06-30,31259.475306,20052.471538,51311.946844,44763.216890,28277.660309,8461.745058,19815.915251,2017-06-30,2017Q2,1,124352.824043

In [112]:
X_df = updated_nonfarm_df.pivot (index='TargetQuarter', columns='MonthsToTarget', values='Total')
for i in range (1,13):
    X_df.rename (columns= {i: str(i) + "_mthPrior"}, inplace=True) 
X_df.tail (50)

MonthsToTarget,1_mthPrior,2_mthPrior,3_mthPrior,4_mthPrior,5_mthPrior,6_mthPrior,7_mthPrior,8_mthPrior,9_mthPrior,10_mthPrior,11_mthPrior,12_mthPrior
TargetQuarter,,,,,,,,,,,,
2006Q1,114146.200000,113987.759783,113603.782164,113258.405813,112985.151450,112640.265796,112483.459295,112490.980932,112342.604568,112141.193259,111883.552657,111721.308555
2006Q2,114608.585311,114524.222139,114292.558797,114146.200000,113987.759783,113603.782164,113258.405813,112985.151450,112640.265796,112483.459295,112490.980932,112342.604568
2006Q3,114984.507032,114954.760337,114734.229609,114608.585311,114524.222139,114292.558797,114146.200000,113987.759783,113603.782164,113258.405813,112985.151450,112640.265796
2006Q4,115251.722890,115142.674993,115080.499452,114984.507032,114954.760337,114734.229609,114608.585311,114524.222139,114292.558797,114146.200000,113987.759783,113603.782164
2007Q1,115635.700000,115571.110615,115484.937758,115251.722890,115142.674993,115080.499452,114984.507032,114954.760337,114734.229609,114608.585311,114524.222139,114292.558797
2007Q2,115839.414441,115816.085124,115776.295480,115635.700000,115571.110615,115484.937758,115251.722890,115142.674993,115080.499452,114984.507032,114954.760337,114734.229609
2007Q3,115895.550586,115923.797725,115915.991033,115839.414441,115816.085124,115776.295480,115635.700000,115571.110615,115484.937758,115251.722890,115142.674993,115080.499452
2007Q4,115915.159225,115936.889758,115874.982106,115895.550586,115923.797725,115915.991033,115839.414441,115816.085124,115776.295480,115635.700000,115571.110615,115484.937758
2008Q1,115825.400000,115917.426711,116014.687868,115915.159225,115936.889758,115874.982106,115895.550586,115923.797725,115915.991033,115839.414441,115816.085124,115776.295480
2008Q2,114919.347780,115166.958855,115530.507917,115825.400000,115917.426711,116014.687868,115915.159225,115936.889758,115874.982106,115895.550586,115923.797725,115915.991033
2008Q3,113810.068281,114156.415945,114578.493660,114919.347780,115166.958855,115530.507917,115825.400000,115917.426711,116014.687868,115915.159225,115936.889758,115874.982106
2008Q4,112160.675984,112723.604651,113306.382271,113810.068281,114156.415945,114578.493660,114919.347780,115166.958855,115530.507917,115825.400000,115917.426711,116014.687868
2009Q1,109968.300000,110608.179158,111454.125197,112160.675984,112723.604651,113306.382271,113810.068281,114156.415945,114578.493660,114919.347780,115166.958855,115530.507917
2009Q2,108586.602712,108963.891494,109406.141206,109968.300000,110608.179158,111454.125197,112160.675984,112723.604651,113306.382271,113810.068281,114156.415945,114578.493660
2009Q3,108025.414031,108155.353751,108418.884290,108586.602712,108963.891494,109406.141206,109968.300000,110608.179158,111454.125197,112160.675984,112723.604651,113306.382271
2009Q4,107537.406074,107681.324697,107844.445928,108025.414031,108155.353751,108418.884290,108586.602712,108963.891494,109406.141206,109968.300000,110608.179158,111454.125197
2010Q1,107379.500000,107399.660991,107515.401882,107537.406074,107681.324697,107844.445928,108025.414031,108155.353751,108418.884290,108586.602712,108963.891494,109406.141206
2010Q2,107821.898778,107703.121164,107569.396582,107379.500000,107399.660991,107515.401882,107537.406074,107681.324697,107844.445928,108025.414031,108155.353751,108418.884290
2010Q3,108186.249070,108043.464399,107937.924875,107821.898778,107703.121164,107569.396582,107379.500000,107399.660991,107515.401882,107537.406074,107681.324697,107844.445928
2010Q4,108574.536840,108483.537224,108347.057899,108186.249070,108043.464399,107937.924875,107821.898778,107703.121164,107569.396582,107379.500000,107399.660991,107515.401882
2011Q1,109103.300000,108888.755374,108697.555150,108574.536840,108483.537224,108347.057899,108186.249070,108043.464399,107937.924875,107821.898778,107703.121164,107569.396582
2011Q2,109892.742751,109659.977051,109451.410231,109103.300000,108888.755374,108697.555150,108574.536840,108483.537224,108347.057899,108186.249070,108043.464399,107937.924875
2011Q3,110492.855137,110289.719313,110080.373041,109892.742751,109659.977051,109451.410231,109103.300000,108888.755374,108697.555150,108574.536840,108483.537224,108347.057899
2011Q4,111039.471512,110804.010141,110645.218059,110492.855137,110289.719313,110080.373041,109892.742751,109659.977051,109451.410231,109103.300000,108888.755374,108697.555150
2012Q1,111814.600000,111557.184104,111278.836012,111039.471512,110804.010141,110645.218059,110492.855137,110289.719313,110080.373041,109892.742751,109659.977051,109451.410231
2012Q2,112129.939810,112090.377495,111942.130176,111814.600000,111557.184104,111278.836012,111039.471512,110804.010141,110645.218059,110492.855137,110289.719313,110080.373041
2012Q3,112607.555706,112466.557057,112293.137872,112129.939810,112090.377495,111942.130176,111814.600000,111557.184104,111278.836012,111039.471512,110804.010141,110645.218059
2012Q4,113217.387031,112991.909396,112861.552308,112607.555706,112466.557057,112293.137872,112129.939810,112090.377495,111942.130176,111814.600000,111557.184104,111278.836012
2013Q1,113829.900000,113630.693966,113439.113538,113217.387031,112991.909396,112861.552308,112607.555706,112466.557057,112293.137872,112129.939810,112090.377495,111942.130176
2013Q2,114397.040957,114141.934776,113935.685946,113829.900000,113630.693966,113439.113538,113217.387031,112991.909396,112861.552308,112607.555706,112466.557057,112293.137872
2013Q3,114991.504989,114755.747426,114562.105518,114397.040957,114141.934776,113935.685946,113829.900000,113630.693966,113439.113538,113217.387031,112991.909396,112861.552308
2013Q4,115518.996337,115353.152986,115161.017890,114991.504989,114755.747426,114562.105518,114397.040957,114141.934776,113935.685946,113829.900000,113630.693966,113439.113538
2014Q1,116159.300000,115946.073214,115755.348823,115518.996337,115353.152986,115161.017890,114991.504989,114755.747426,114562.105518,114397.040957,114141.934776,113935.685946
2014Q2,116950.085896,116714.629746,116489.758314,116159.300000,115946.073214,115755.348823,115518.996337,115353.152986,115161.017890,114991.504989,114755.747426,114562.105518
2014Q3,117633.903029,117381.314510,117224.943064,116950.085896,116714.629746,116489.758314,116159.300000,115946.073214,115755.348823,115518.996337,115353.152986,115161.017890
2014Q4,118359.115566,118075.072993,117834.240787,117633.903029,117381.314510,117224.943064,116950.085896,116714.629746,116489.758314,116159.300000,115946.073214,115755.348823
2015Q1,118971.800000,118785.158256,118571.066154,118359.115566,118075.072993,117834.240787,117633.903029,117381.314510,117224.943064,116950.085896,116714.629746,116489.758314
2015Q2,119640.074124,119385.166009,119150.733982,118971.800000,118785.158256,118571.066154,118359.115566,118075.072993,117834.240787,117633.903029,117381.314510,117224.943064
2015Q3,120207.885364,120028.791282,119896.545944,119640.074124,119385.166009,119150.733982,118971.800000,118785.158256,118571.066154,118359.115566,118075.072993,117834.240787
2015Q4,120836.343420,120598.750473,120391.671260,120207.885364,120028.791282,119896.545944,119640.074124,119385.166009,119150.733982,118971.800000,118785.158256,118571.066154
2016Q1,121506.500000,121274.857600,121020.088500,120836.343420,120598.750473,120391.671260,120207.885364,120028.791282,119896.545944,119640.074124,119385.166009,119150.733982
2016Q2,121931.083800,121672.848400,121615.138900,121506.500000,121274.857600,121020.088500,120836.343420,120598.750473,120391.671260,120207.885364,120028.791282,119896.545944
2016Q3,122517.978800,122300.991700,122160.427500,121931.083800,121672.848400,121615.138900,121506.500000,121274.857600,121020.088500,120836.343420,120598.750473,120391.671260
2016Q4,123007.048200,122806.059800,122579.649100,122517.978800,122300.991700,122160.427500,121931.083800,121672.848400,121615.138900,121506.500000,121274.857600,121020.088500
2017Q1,123779.026374,123524.013279,123275.447833,123007.048200,122806.059800,122579.649100,122517.978800,122300.991700,122160.427500,121931.083800,121672.848400,121615.138900
2017Q2,124352.824043,124160.613217,123927.123874,123779.026374,123524.013279,123275.447833,123007.048200,122806.059800,122579.649100,122517.978800,122300.991700,122160.427500
2017Q3,NaN,124790.666169,124554.036221,124352.824043,124160.613217,123927.123874,123779.026374,123524.013279,123275.447833,123007.048200,122806.059800,122579.649100
2017Q4,NaN,NaN,NaN,NaN,124790.666169,124554.036221,124352.824043,124160.613217,123927.123874,123779.026374,123524.013279,123275.447833
2018Q1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124790.666169,124554.036221,124352.824043,124160.613217,123927.123874
2018Q2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124790.666169,124554.036221

In [ ]:
def featurize_monthly_absolute_figures_x (df, quarters):
    
    None
    
df1 = pd.DataFrame ([[1,11],[2,22]], columns=list('AB'))
df2 = pd.DataFrame ([[3,33],[4,44]], columns=list('AB'))
df3 = df1.append (df2)
df3

In [ ]:
nonfarm_df.tail(5)